@import "tailwindcss";
@plugin "daisyui"{
      themes:all;
}
@utility input{
    @apply bg-[var(--lightgray1)] border-1;

}
@utility btn{
    @apply bg-[var(--lightgray)] ;

}




:root{
    --white:#FFFFFF;
    --whiteopacity:#F5F4F4;
    --lightgray1:#DDDBDC;
    --lightgray:#737373;
    --grayDark1:#4C4C4B;
    --grayDark:#262626;
    --black:#000000;
    --red:#D0021B;
    --whitelight:#E6DED8;
}

